{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": ["promise", "jest"],
  "extends": ["eslint:recommended", "prettier", "plugin:jest/recommended"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-empty": 1,
    "jest/valid-expect": "warn",
    "jest/no-alias-methods": "off"
  }
}
