rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function hasReadAccess() {
      return true;
    }
    
    function isLoggedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAnonymous() {
    	return request.auth.token.firebase.sign_in_provider == 'anonymous';
    }
    
    function isVerified() {
    	return request.auth.token.email_verified;
    }
    
    function isCms(collection) {
    	return collection.matches('^fl.*');
    }
    
    match /fl_content/{document=**} {
    	allow read: if hasReadAccess();
    }
    
    match /fl_files/{document=**} {
    	allow read: if hasReadAccess();
    }
    
    match /{collection}/{document=**} {
      allow read: if isCms(collection) && isLoggedIn() && !isAnonymous();
      allow write: if isCms(collection) && isLoggedIn() && !isAnonymous();
    }

    match /fs_crop_scores/{document} {
      allow read: if hasReadAccess();
    }
    
    match /fs_factors/{document} {
      allow read: if hasReadAccess();
    }

    match /fs_crop_score_cms_link/{document} {
      allow read: if hasReadAccess();
    }

    match /fs_users/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }       
  }
}
